

header {
		background-color: white;
		display: block;
}

.header-logo {
		height: 300px;
		width: auto;
		display: block;
		margin-left: auto;
		margin-right: auto;
}


body {
	background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #356f19;
  display: flex;
  width: 100%;
  font-family: verdana;
}

ul li {
	flex: 1;
	text-align: center;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
	color: white;
  background-color: #6d4500;
}

.heading {
	Color: #6d4500;
	font-family: Trebuchet MS;
	text-align: center;
	font-size: 60px;
}

p {
	max-width: 100ch;
	margin: 0 auto;
	padding: 0 20px;
	color: #595959;
	text-align: center;
	font-family: verdana;
	font-size: 22px;
}
	
.bold {
	max-width: 100ch;
	margin: 0 auto;
	padding: 0 20px;
	color: #595959;
	text-align: center;
	font-weight: bold;
	font-family: verdana;
}
	


.Placeholder {
	margin-left: auto;
	margin-right: auto;
	height: 500px;
	width: auto;
	display: block;
	max-width: 500px;
	border: solid #6d4500;
	border-radius: 20px
	
}

.side-by-side {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
	max-width: 1000px;
	margin: 40px auto;
	padding: 0 20px;
}

.text-content {
	flex: 1;
	font-family: Trebuchet MS;
	color: #6d4500;
	font-size: 45;
	
}

.services-photo {
	flex: 1;
	max-width: 350px;
	width: 100%;
	height: auto;
	border: solid #6d4500;
	border-radius: 10px;
}

@media (max-width: 768px;) {
	.side-by-side {
		flex-direction: column;
		text-align: center;
	}
}





footer {
	background-color: #356f19;
	color: white;
}

.footer-menu {
	color: white;
}

form {
	max-width: 500px;
	margin: 40px auto;
	padding: 30px;
	background-color: #fcfcfc;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	
}

form label {
	display: block;
	margin-bottom: 8px;
	font-family: Trebuchet MS;
	font-weight: bold;
	color: #356f19
}

form input[type="email"],
form textarea {
	display: block;
	width: 100%;
	padding: 12px;
	margin-bottom: 24px;
	border: 1px solid #356f19;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: inherit;
	font-size: 16px;
}

form input:focus,
form textarea:focus {
	border-color: #356f19;
	outline: none;
}

form button[type="submit"] {
	display:block;
	width: 100%;
	background-color: #356f19;
	color: white;
	padding: 14px;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: background 0.2s ease;
}

form button[type="submit"]:hover {
	background-color: #6d4500;
}

.btn-link {
	display: inline-block;
	padding: 10px 20px;
	background-color: #356f19;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
}

.btn-link:hover {
	background-color: #6d4500;
}

.button {
	text-align: center;
	width: 100%;
}
	
	